In [1]:
import pandas as pd

In [16]:
data = pd.read_csv("C:/Users/RANGA/Desktop/Profit_company.csv")
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [17]:
state = data['State'].unique()
state

array(['New York', 'California', 'Florida'], dtype=object)

In [18]:
state1 = pd.get_dummies(data['State'])
state1

     California  Florida  New York
0             0        0         1
1             1        0         0
2             0        1         0
3             0        0         1
4             0        1         0
5             0        0         1
6             1        0         0
7             0        1         0
8             0        0         1
9             1        0         0
10            0        1         0
11            1        0         0
12            0        1         0
13            1        0         0
14            0        1         0
15            0        0         1
16            1        0         0
17            0        0         1
18            0        1         0
19            0        0         1
20            1        0         0
21            0        0         1
22            0        1         0
23            0        1         0
24            0        0         1
25            1        0         0
26            0        1         0
27            0        0         1
28            0        1         0
29            0        0         1
..          ...      ...       ...
970           0        1         0
971           0        0         1
972           0        1         0
973           0        0         1
974           1        0         0
975           0        1         0
976           1        0         0
977           0        0         1
978           0        1         0
979           1        0         0
980           0        0         1
981           1        0         0
982           1        0         0
983           0        1         0
984           1        0         0
985           0        0         1
986           1        0         0
987           0        0         1
988           0        1         0
989           0        1         0
990           1        0         0
991           0        0         1
992           0        1         0
993           1        0         0
994           0        0         1
995           1        0         0
996           1        0         0
997           1        0         0
998           1        0         0
999           0        0         1

[1000 rows x 3 columns]

In [11]:
state

     California  Florida  New York
0             0        0         1
1             1        0         0
2             0        1         0
3             0        0         1
4             0        1         0
5             0        0         1
6             1        0         0
7             0        1         0
8             0        0         1
9             1        0         0
10            0        1         0
11            1        0         0
12            0        1         0
13            1        0         0
14            0        1         0
15            0        0         1
16            1        0         0
17            0        0         1
18            0        1         0
19            0        0         1
20            1        0         0
21            0        0         1
22            0        1         0
23            0        1         0
24            0        0         1
25            1        0         0
26            0        1         0
27            0        0         1
28            0        1         0
29            0        0         1
..          ...      ...       ...
970           0        1         0
971           0        0         1
972           0        1         0
973           0        0         1
974           1        0         0
975           0        1         0
976           1        0         0
977           0        0         1
978           0        1         0
979           1        0         0
980           0        0         1
981           1        0         0
982           1        0         0
983           0        1         0
984           1        0         0
985           0        0         1
986           1        0         0
987           0        0         1
988           0        1         0
989           0        1         0
990           1        0         0
991           0        0         1
992           0        1         0
993           1        0         0
994           0        0         1
995           1        0         0
996           1        0         0
997           1        0         0
998           1        0         0
999           0        0         1

[1000 rows x 3 columns]

In [10]:
data

     R&D Spend  Administration  Marketing Spend  State        Profit
0    165349.20     136897.8000     471784.10000      0  192261.83000
1    162597.70     151377.5900     443898.53000      1  191792.06000
2    153441.51     101145.5500     407934.54000      0  191050.39000
3    144372.41     118671.8500     383199.62000      0  182901.99000
4    142107.34      91391.7700     366168.42000      0  166187.94000
5    131876.90      99814.7100     362861.36000      0  156991.12000
6    134615.46     147198.8700     127716.82000      1  156122.51000
7    130298.13     145530.0600     323876.68000      0  155752.60000
8    120542.52     148718.9500     311613.29000      0  152211.77000
9    123334.88     108679.1700     304981.62000      1  149759.96000
10   101913.08     110594.1100     229160.95000      0  146121.95000
11   100671.96      91790.6100     249744.55000      1  144259.40000
12    93863.75     127320.3800     249839.44000      0  141585.52000
13    91992.39     135495.0700     252664.93000      1  134307.35000
14   119943.24     156547.4200     256512.92000      0  132602.65000
15   114523.61     122616.8400     261776.23000      0  129917.04000
16    78013.11     121597.5500     264346.06000      1  126992.93000
17    94657.16     145077.5800     282574.31000      0  125370.37000
18    91749.16     114175.7900     294919.57000      0  124266.90000
19    86419.70     153514.1100          0.00000      0  122776.86000
20    76253.86     113867.3000     298664.47000      1  118474.03000
21    78389.47     153773.4300     299737.29000      0  111313.02000
22    73994.56     122782.7500     303319.26000      0  110352.25000
23    67532.53     105751.0300     304768.73000      0  108733.99000
24    77044.01      99281.3400     140574.81000      0  108552.04000
25    64664.71     139553.1600     137962.62000      1  107404.34000
26    75328.87     144135.9800     134050.07000      0  105733.54000
27    72107.60     127864.5500     353183.81000      0  105008.31000
28    66051.52     182645.5600     118148.20000      0  103282.38000
29    65605.48     153032.0600     107138.38000      0  101004.64000
..         ...             ...              ...    ...           ...
970   13856.00     112503.4128      95514.22902      0   60869.96038
971   71829.00     121065.1295     207373.29080      0  110395.79400
972  131154.00     129826.5157     321841.04030      0  161076.62960
973   68679.00     120599.9232     201295.35720      0  107704.77620
974  108056.00     126415.2979     277273.38630      1  141344.20750
975  140149.00     131154.9383     339196.91740      0  168760.98050
976   56850.00     118852.9626     178471.26940      1   97599.36358
977   47438.00     117462.9555     160310.78970      0   89558.77320
978   58867.00     119150.8423     182363.07640      0   99322.46927
979   12914.00     112364.2939      93696.63744      1   60065.21791
980   62574.00     119698.3089     189515.74310      0  102489.32740
981   53106.00     118300.0316     171247.21120      1   94400.89669
982  123537.00     128701.6025     307144.01800      1  154569.49220
983   48901.00     117679.0180     163133.65220      0   90808.60147
984  105143.00     125985.0928     271652.74480      1  138855.65680
985   63615.00     119852.0486     191524.35540      0  103378.64470
986  100405.00     125285.3634     262510.76090      1  134808.02420
987   41289.00     116554.8432     148446.27740      0   84305.73556
988   39970.00     116360.0473     145901.26330      0   83178.92524
989   43532.00     116886.0996     152774.15210      0   86221.91110
990  136133.00     130561.8371     331448.03440      1  165330.14630
991  131106.00     129819.4269     321748.42420      0  161035.62360
992  105127.00     125982.7298     271621.87280      0  138841.98810
993   46798.00     117368.4374     159075.90800      1   89012.02672
994   97209.00     124813.3635     256344.07010      0  132077.70900
995   54135.00     118451.9990     173232.66950      1   95279.96251
996  134970.00     130390.0800     329204.02280      1  164336.60550
997  100275.47     241926.3100     227142.82000      1  413956.48000
998  128456.23     321652.1400     281692.32000      1  333962.19000
999  161181.72     270939.8600     295442.17000      0  476485.43000

[1000 rows x 5 columns]

In [12]:
data['State1']=state['California']
data

     R&D Spend  Administration  Marketing Spend  State        Profit  State1
0    165349.20     136897.8000     471784.10000      0  192261.83000       0
1    162597.70     151377.5900     443898.53000      1  191792.06000       1
2    153441.51     101145.5500     407934.54000      0  191050.39000       0
3    144372.41     118671.8500     383199.62000      0  182901.99000       0
4    142107.34      91391.7700     366168.42000      0  166187.94000       0
5    131876.90      99814.7100     362861.36000      0  156991.12000       0
6    134615.46     147198.8700     127716.82000      1  156122.51000       1
7    130298.13     145530.0600     323876.68000      0  155752.60000       0
8    120542.52     148718.9500     311613.29000      0  152211.77000       0
9    123334.88     108679.1700     304981.62000      1  149759.96000       1
10   101913.08     110594.1100     229160.95000      0  146121.95000       0
11   100671.96      91790.6100     249744.55000      1  144259.40000       1
12    93863.75     127320.3800     249839.44000      0  141585.52000       0
13    91992.39     135495.0700     252664.93000      1  134307.35000       1
14   119943.24     156547.4200     256512.92000      0  132602.65000       0
15   114523.61     122616.8400     261776.23000      0  129917.04000       0
16    78013.11     121597.5500     264346.06000      1  126992.93000       1
17    94657.16     145077.5800     282574.31000      0  125370.37000       0
18    91749.16     114175.7900     294919.57000      0  124266.90000       0
19    86419.70     153514.1100          0.00000      0  122776.86000       0
20    76253.86     113867.3000     298664.47000      1  118474.03000       1
21    78389.47     153773.4300     299737.29000      0  111313.02000       0
22    73994.56     122782.7500     303319.26000      0  110352.25000       0
23    67532.53     105751.0300     304768.73000      0  108733.99000       0
24    77044.01      99281.3400     140574.81000      0  108552.04000       0
25    64664.71     139553.1600     137962.62000      1  107404.34000       1
26    75328.87     144135.9800     134050.07000      0  105733.54000       0
27    72107.60     127864.5500     353183.81000      0  105008.31000       0
28    66051.52     182645.5600     118148.20000      0  103282.38000       0
29    65605.48     153032.0600     107138.38000      0  101004.64000       0
..         ...             ...              ...    ...           ...     ...
970   13856.00     112503.4128      95514.22902      0   60869.96038       0
971   71829.00     121065.1295     207373.29080      0  110395.79400       0
972  131154.00     129826.5157     321841.04030      0  161076.62960       0
973   68679.00     120599.9232     201295.35720      0  107704.77620       0
974  108056.00     126415.2979     277273.38630      1  141344.20750       1
975  140149.00     131154.9383     339196.91740      0  168760.98050       0
976   56850.00     118852.9626     178471.26940      1   97599.36358       1
977   47438.00     117462.9555     160310.78970      0   89558.77320       0
978   58867.00     119150.8423     182363.07640      0   99322.46927       0
979   12914.00     112364.2939      93696.63744      1   60065.21791       1
980   62574.00     119698.3089     189515.74310      0  102489.32740       0
981   53106.00     118300.0316     171247.21120      1   94400.89669       1
982  123537.00     128701.6025     307144.01800      1  154569.49220       1
983   48901.00     117679.0180     163133.65220      0   90808.60147       0
984  105143.00     125985.0928     271652.74480      1  138855.65680       1
985   63615.00     119852.0486     191524.35540      0  103378.64470       0
986  100405.00     125285.3634     262510.76090      1  134808.02420       1
987   41289.00     116554.8432     148446.27740      0   84305.73556       0
988   39970.00     116360.0473     145901.26330      0   83178.92524       0
989   43532.00     116886.0996     152774.15210      0   86221.91110       0
990  136133.00     130561.8371     331448.03440      1  165330.14630       1
991  131106.00     129819.4269     321748.42420      0  161035.62360       0
992  105127.00     125982.7298     271621.87280      0  138841.98810       0
993   46798.00     117368.4374     159075.90800      1   89012.02672       1
994   97209.00     124813.3635     256344.07010      0  132077.70900       0
995   54135.00     118451.9990     173232.66950      1   95279.96251       1
996  134970.00     130390.0800     329204.02280      1  164336.60550       1
997  100275.47     241926.3100     227142.82000      1  413956.48000       1
998  128456.23     321652.1400     281692.32000      1  333962.19000       1
999  161181.72     270939.8600     295442.17000      0  476485.43000       0

[1000 rows x 6 columns]

In [20]:
from sklearn.preprocessing import LabelEncoder
lab = LabelEncoder()
labelded = lab.fit_transform(data['State'])
print(labelded)
print(data.State)

[2 0 1 2 1 2 0 1 2 0 1 0 1 0 1 2 0 2 1 2 0 2 1 1 2 0 1 2 1 2 1 2 0 1 0 2 1
 0 2 0 0 1 0 2 0 2 1 0 2 0 2 0 1 2 1 2 0 1 2 0 1 0 1 0 1 2 0 2 1 2 0 2 1 1
 2 0 1 2 1 2 1 2 0 1 0 2 1 0 2 0 0 1 0 2 0 2 1 0 2 0 2 0 1 2 1 2 0 1 2 0 1
 0 1 0 1 2 0 2 1 2 0 2 1 1 2 0 1 2 1 2 1 2 0 1 0 2 1 0 2 0 0 1 0 2 0 2 1 0
 2 0 2 0 1 2 1 2 0 1 2 0 1 0 1 0 1 2 0 2 1 2 0 2 1 1 2 0 1 2 1 2 1 2 0 1 0
 2 1 0 2 0 0 1 0 2 0 2 1 0 2 0 0 1 2 1 2 0 1 2 0 1 0 1 0 1 2 0 2 1 2 0 2 1
 1 2 0 1 2 1 2 1 2 0 1 0 2 1 0 2 0 0 1 0 2 0 2 1 0 2 0 2 0 1 2 1 2 0 1 2 0
 1 0 1 0 1 2 0 2 1 2 0 2 1 1 2 0 1 2 1 2 1 2 0 1 0 2 1 0 2 0 0 1 0 2 0 2 1
 0 2 0 0 1 2 1 2 0 1 2 0 1 0 1 0 1 2 0 2 1 2 0 2 1 1 2 0 1 2 1 2 1 2 0 1 0
 2 1 0 2 0 0 1 0 2 0 2 1 0 2 0 2 0 1 2 1 2 0 1 2 0 1 0 1 0 1 2 0 2 1 2 0 2
 1 1 2 0 1 2 1 2 1 2 0 1 0 2 1 0 2 0 0 1 0 2 0 2 1 0 2 0 0 1 2 1 2 0 1 2 0
 1 0 1 0 1 2 0 2 1 2 0 2 1 1 2 0 1 2 1 2 1 2 0 1 0 2 1 0 2 0 0 1 0 2 0 2 1
 0 2 0 2 0 1 2 1 2 0 1 2 0 1 0 1 0 1 2 0 2 1 2 0 2 1 1 2 0 1 2 1 2 1 2 0 1
 0 2 1 0 2 0 0 1 0 2 0 2 1 0 2 0 0 1 2 1 2 0 1 2 0 1 0 1 0 1 2 0 2 1 2 0 2
 1 1 2 0 1 2 1 2 1 2 0 1 0 2 1 0 2 0 0 1 0 2 0 2 1 0 2 0 2 0 1 2 1 2 0 1 2
 0 1 0 1 0 1 2 0 2 1 2 0 2 1 1 2 0 1 2 1 2 1 2 0 1 0 2 1 0 2 0 0 1 0 2 0 2
 1 0 2 0 0 1 2 1 2 0 1 2 0 1 0 1 0 1 2 0 2 1 2 0 2 1 1 2 0 1 2 1 2 1 2 0 1
 0 2 1 0 2 0 0 1 0 2 0 2 1 0 2 0 2 0 1 2 1 2 0 1 2 0 1 0 1 0 1 2 0 2 1 2 0
 2 1 1 2 0 1 2 1 2 1 2 0 1 0 2 1 0 2 0 0 1 0 2 0 2 1 0 2 0 0 1 2 1 2 0 1 2
 0 1 0 1 0 1 2 0 2 1 2 0 2 1 1 2 0 1 2 1 2 1 2 0 1 0 2 1 0 2 0 0 1 0 2 0 2
 1 0 2 0 2 0 1 2 1 2 0 1 2 0 1 0 1 0 1 2 0 2 1 2 0 2 1 1 2 0 1 2 1 2 1 2 0
 1 0 2 1 0 2 0 0 1 0 2 0 2 1 0 2 0 0 1 2 1 2 0 1 2 0 1 0 1 0 1 2 0 2 1 2 0
 2 1 1 2 0 1 2 1 2 1 2 0 1 0 2 1 0 2 0 0 1 0 2 0 2 1 0 2 0 2 0 1 2 1 2 0 1
 2 0 1 0 1 0 1 2 0 2 1 2 0 2 1 1 2 0 1 2 1 2 1 2 0 1 0 2 1 0 2 0 0 1 0 2 0
 2 1 0 2 0 0 1 2 1 2 0 1 2 0 1 0 1 0 1 2 0 2 1 2 0 2 1 1 2 0 1 2 1 2 1 2 0
 1 0 2 1 0 2 0 0 1 0 2 0 2 1 0 2 0 2 0 1 2 1 2 0 1 2 0 1 0 1 0 1 2 0 2 1 2
 0 2 1 1 2 0 1 2 1 2 1 2 0 1 0 2 1 0 2 0 0 1 0 2 0 2 1 1 0 2 1 0 2 0 0 0 0
 2]
0        New York
1      California
2         Florida
3        New York
4         Florida
5        New York
6      California
7         Florida
8        New York
9      California
10        Florida
11     California
12        Florida
13     California
14        Florida
15       New York
16     California
17       New York
18        Florida
19       New York
20     California
21       New York
22        Florida
23        Florida
24       New York
25     California
26        Florida
27       New York
28        Florida
29       New York
          ...
970       Florida
971      New York
972       Florida
973      New York
974    California
975       Florida
976    California
977      New York
978       Florida
979    California
980      New York
981    California
982    California
983       Florida
984    California
985      New York
986    California
987      New York
988       Florida
989       Florida
990    California
991      New York
992       Florida
993    California
994      New York
995    California
996    California
997    California
998    California
999      New York
Name: State, Length: 1000, dtype: object

In [21]:
data

     R&D Spend  Administration  Marketing Spend       State        Profit
0    165349.20     136897.8000     471784.10000    New York  192261.83000
1    162597.70     151377.5900     443898.53000  California  191792.06000
2    153441.51     101145.5500     407934.54000     Florida  191050.39000
3    144372.41     118671.8500     383199.62000    New York  182901.99000
4    142107.34      91391.7700     366168.42000     Florida  166187.94000
5    131876.90      99814.7100     362861.36000    New York  156991.12000
6    134615.46     147198.8700     127716.82000  California  156122.51000
7    130298.13     145530.0600     323876.68000     Florida  155752.60000
8    120542.52     148718.9500     311613.29000    New York  152211.77000
9    123334.88     108679.1700     304981.62000  California  149759.96000
10   101913.08     110594.1100     229160.95000     Florida  146121.95000
11   100671.96      91790.6100     249744.55000  California  144259.40000
12    93863.75     127320.3800     249839.44000     Florida  141585.52000
13    91992.39     135495.0700     252664.93000  California  134307.35000
14   119943.24     156547.4200     256512.92000     Florida  132602.65000
15   114523.61     122616.8400     261776.23000    New York  129917.04000
16    78013.11     121597.5500     264346.06000  California  126992.93000
17    94657.16     145077.5800     282574.31000    New York  125370.37000
18    91749.16     114175.7900     294919.57000     Florida  124266.90000
19    86419.70     153514.1100          0.00000    New York  122776.86000
20    76253.86     113867.3000     298664.47000  California  118474.03000
21    78389.47     153773.4300     299737.29000    New York  111313.02000
22    73994.56     122782.7500     303319.26000     Florida  110352.25000
23    67532.53     105751.0300     304768.73000     Florida  108733.99000
24    77044.01      99281.3400     140574.81000    New York  108552.04000
25    64664.71     139553.1600     137962.62000  California  107404.34000
26    75328.87     144135.9800     134050.07000     Florida  105733.54000
27    72107.60     127864.5500     353183.81000    New York  105008.31000
28    66051.52     182645.5600     118148.20000     Florida  103282.38000
29    65605.48     153032.0600     107138.38000    New York  101004.64000
..         ...             ...              ...         ...           ...
970   13856.00     112503.4128      95514.22902     Florida   60869.96038
971   71829.00     121065.1295     207373.29080    New York  110395.79400
972  131154.00     129826.5157     321841.04030     Florida  161076.62960
973   68679.00     120599.9232     201295.35720    New York  107704.77620
974  108056.00     126415.2979     277273.38630  California  141344.20750
975  140149.00     131154.9383     339196.91740     Florida  168760.98050
976   56850.00     118852.9626     178471.26940  California   97599.36358
977   47438.00     117462.9555     160310.78970    New York   89558.77320
978   58867.00     119150.8423     182363.07640     Florida   99322.46927
979   12914.00     112364.2939      93696.63744  California   60065.21791
980   62574.00     119698.3089     189515.74310    New York  102489.32740
981   53106.00     118300.0316     171247.21120  California   94400.89669
982  123537.00     128701.6025     307144.01800  California  154569.49220
983   48901.00     117679.0180     163133.65220     Florida   90808.60147
984  105143.00     125985.0928     271652.74480  California  138855.65680
985   63615.00     119852.0486     191524.35540    New York  103378.64470
986  100405.00     125285.3634     262510.76090  California  134808.02420
987   41289.00     116554.8432     148446.27740    New York   84305.73556
988   39970.00     116360.0473     145901.26330     Florida   83178.92524
989   43532.00     116886.0996     152774.15210     Florida   86221.91110
990  136133.00     130561.8371     331448.03440  California  165330.14630
991  131106.00     129819.4269     321748.42420    New York  161035.62360
992  105127.00     125982.7298     271621.87280     Florida  138841.98810
993   46798.00     117368.4374     159075.90800  California   89012.02672
994   97209.00     124813.3635     256344.07010    New York  132077.70900
995   54135.00     118451.9990     173232.66950  California   95279.96251
996  134970.00     130390.0800     329204.02280  California  164336.60550
997  100275.47     241926.3100     227142.82000  California  413956.48000
998  128456.23     321652.1400     281692.32000  California  333962.19000
999  161181.72     270939.8600     295442.17000    New York  476485.43000

[1000 rows x 5 columns]

In [22]:
data['State1']=labelded
data

,R&D Spend,Administration,Marketing Spend,State,Profit,State1
0,165349.20,136897.8000,471784.10000,New York,192261.83000,2
1,162597.70,151377.5900,443898.53000,California,191792.06000,0
2,153441.51,101145.5500,407934.54000,Florida,191050.39000,1
3,144372.41,118671.8500,383199.62000,New York,182901.99000,2
4,142107.34,91391.7700,366168.42000,Florida,166187.94000,1
5,131876.90,99814.7100,362861.36000,New York,156991.12000,2
6,134615.46,147198.8700,127716.82000,California,156122.51000,0
7,130298.13,145530.0600,323876.68000,Florida,155752.60000,1
8,120542.52,148718.9500,311613.29000,New York,152211.77000,2
9,123334.88,108679.1700,304981.62000,California,149759.96000,0
10,101913.08,110594.1100,229160.95000,Florida,146121.95000,1
11,100671.96,91790.6100,249744.55000,California,144259.40000,0
12,93863.75,127320.3800,249839.44000,Florida,141585.52000,1
13,91992.39,135495.0700,252664.93000,California,134307.35000,0
14,119943.24,156547.4200,256512.92000,Florida,132602.65000,1
15,114523.61,122616.8400,261776.23000,New York,129917.04000,2
16,78013.11,121597.5500,264346.06000,California,126992.93000,0
17,94657.16,145077.5800,282574.31000,New York,125370.37000,2
18,91749.16,114175.7900,294919.57000,Florida,124266.90000,1
19,86419.70,153514.1100,0.00000,New York,122776.86000,2
20,76253.86,113867.3000,298664.47000,California,118474.03000,0
21,78389.47,153773.4300,299737.29000,New York,111313.02000,2
22,73994.56,122782.7500,303319.26000,Florida,110352.25000,1
23,67532.53,105751.0300,304768.73000,Florida,108733.99000,1
24,77044.01,99281.3400,140574.81000,New York,108552.04000,2
25,64664.71,139553.1600,137962.62000,California,107404.34000,0
26,75328.87,144135.9800,134050.07000,Florida,105733.54000,1
27,72107.60,127864.5500,353183.81000,New York,105008.31000,2
28,66051.52,182645.5600,118148.20000,Florida,103282.38000,1
29,65605.48,153032.0600,107138.38000,New York,101004.64000,2
...,...,...,...,...,...,...
970,13856.00,112503.4128,95514.22902,Florida,60869.96038,1
971,71829.00,121065.1295,207373.29080,New York,110395.79400,2
972,131154.00,129826.5157,321841.04030,Florida,161076.62960,1
973,68679.00,120599.9232,201295.35720,New York,107704.77620,2
974,108056.00,126415.2979,277273.38630,California,141344.20750,0
975,140149.00,131154.9383,339196.91740,Florida,168760.98050,1
976,56850.00,118852.9626,178471.26940,California,97599.36358,0
977,47438.00,117462.9555,160310.78970,New York,89558.77320,2
978,58867.00,119150.8423,182363.07640,Florida,99322.46927,1
979,12914.00,112364.2939,93696.63744,California,60065.21791,0
980,62574.00,119698.3089,189515.74310,New York,102489.32740,2
981,53106.00,118300.0316,171247.21120,California,94400.89669,0
982,123537.00,128701.6025,307144.01800,California,154569.49220,0
983,48901.00,117679.0180,163133.65220,Florida,90808.60147,1
984,105143.00,125985.0928,271652.74480,California,138855.65680,0
985,63615.00,119852.0486,191524.35540,New York,103378.64470,2
986,100405.00,125285.3634,262510.76090,California,134808.02420,0
987,41289.00,116554.8432,148446.27740,New York,84305.73556,2
988,39970.00,116360.0473,145901.26330,Florida,83178.92524,1
989,43532.00,116886.0996,152774.15210,Florida,86221.91110,1
990,136133.00,130561.8371,331448.03440,California,165330.14630,0
991,131106.00,129819.4269,321748.42420,New York,161035.62360,2
992,105127.00,125982.7298,271621.87280,Florida,138841.98810,1
993,46798.00,117368.4374,159075.90800,California,89012.02672,0
994,97209.00,124813.3635,256344.07010,New York,132077.70900,2
995,54135.00,118451.9990,173232.66950,California,95279.96251,0
996,134970.00,130390.0800,329204.02280,California,164336.60550,0
997,100275.47,241926.3100,227142.82000,California,413956.48000,0
998,128456.23,321652.1400,281692.32000,California,333962.19000,0
999,161181.72,270939.8600,295442.17000,New York,476485.43000,2

In [23]:
data.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit',
       'State1'],
      dtype='object')

In [25]:
x = data[['R&D Spend', 'Administration', 'Marketing Spend', 'State1']]
x.head()

   R&D Spend  Administration  Marketing Spend  State1
0  165349.20       136897.80        471784.10       2
1  162597.70       151377.59        443898.53       0
2  153441.51       101145.55        407934.54       1
3  144372.41       118671.85        383199.62       2
4  142107.34        91391.77        366168.42       1

In [26]:
y = data['Profit']
y

0      192261.83000
1      191792.06000
2      191050.39000
3      182901.99000
4      166187.94000
5      156991.12000
6      156122.51000
7      155752.60000
8      152211.77000
9      149759.96000
10     146121.95000
11     144259.40000
12     141585.52000
13     134307.35000
14     132602.65000
15     129917.04000
16     126992.93000
17     125370.37000
18     124266.90000
19     122776.86000
20     118474.03000
21     111313.02000
22     110352.25000
23     108733.99000
24     108552.04000
25     107404.34000
26     105733.54000
27     105008.31000
28     103282.38000
29     101004.64000
           ...
970     60869.96038
971    110395.79400
972    161076.62960
973    107704.77620
974    141344.20750
975    168760.98050
976     97599.36358
977     89558.77320
978     99322.46927
979     60065.21791
980    102489.32740
981     94400.89669
982    154569.49220
983     90808.60147
984    138855.65680
985    103378.64470
986    134808.02420
987     84305.73556
988     83178.92524
989     86221.91110
990    165330.14630
991    161035.62360
992    138841.98810
993     89012.02672
994    132077.70900
995     95279.96251
996    164336.60550
997    413956.48000
998    333962.19000
999    476485.43000
Name: Profit, Length: 1000, dtype: float64

In [27]:
from sklearn.model_selection import train_test_split
x_tr,x_te,y_tr,y_te=train_test_split(x,y,random_state=1,test_size=0.3)

In [28]:
from sklearn.tree import DecisionTreeRegressor
tree = DecisionTreeRegressor()

In [29]:
tree.fit(x_tr,y_tr)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [30]:
pred = tree.predict(x_te)

In [32]:
tree.score(x_tr,y_tr)

1.0

In [35]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_te,pred)

31708384.681393526

In [36]:
tree.predict([[165349.20,136897.80,471784.10,2]])

array([192261.83])